[user]
	name = alde
	email = r.dybeck@gmail.com
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[jira]
    user = rickard.dybeck
[giggle]
	main-window-maximized = false
	main-window-geometry = 358x949+720+18
	main-window-view = HistoryView
	history-view-vpane-position = 608
	file-view-vpane-position = 658
[alias]
  st = status -sb
  ci = commit
  br = branch
  co = checkout
  df = diff --word-diff
  lg = log --graph --pretty=\"format:%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset\"
  ds = diff --staged
  su = submodule update --init --recursive
[push]
	default = current
[core]
	editor = vim
	whitespace = trailing-space,space-before-tab
	excludesfile = /home/dybeck/.gitignore_global
[rebase]
	autosquash = true
[advice]
	statusHints = false
[rerere]
	enabled = true
[merge]
    stat = true
    tool = meld
    conflictstyle = diff3
